{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "{{ iam_group_description }}",
  "Resources": {
    "IamGroup": {
      "Type": "AWS::IAM::Group",
      "Properties": {
        {% if iam_group_name != '' %}"GroupName": "{{ iam_group_name }}",{% endif %}
        {% if iam_group_path != '' %}"Path": "{{ iam_group_path }}",{% endif %}
        "ManagedPolicyArns": [
          {% for policy_arn in iam_group_policy_arns %}
            "{{ policy_arn }}"{% if not loop.last %}, {% endif %}
          {% endfor %}
        ],
        "Policies": [
          {% for p in iam_group_policies %}
            {
              "PolicyName": "{{ p.name }}",
              "PolicyDocument": {{ p.policy|to_json }}{% if not loop.last %},{% endif %}
            }{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      }
    }
 },
 "Outputs": {
   "GroupName": {
     "Value": { "Ref": "IamGroup" }
   },
   "GroupArn": {
     "Value" : { "Fn::GetAtt" : ["IamGroup", "Arn"]}
   }
 }
}
